<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque nisi deleniti aspernatur sunt tempora ab dolor ratione similique, blanditiis facilis odio ipsum eius quae alias dolores recusandae at fugiat rem!</p>
    </div>
</div>

