<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectet adipiscing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis mollitia necessitatibus voluptatum sunt fuga itaque odio expedita, est, dicta labore ipsa ut minus aperiam quisquam accusamus molestiae. Enim, omnis explicabo?<p>
    <a href="http://youtube.com" class="btn btn-primary btn-lg">Youtube</a>
</div>