<div class="row">
    {{#each notes}}
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    {{title}}
                </h4>
                <p>{{description}}</p>
            </div>

        </div>
    </div>
    {{/each}}
    <div>
        <a href="notes/add" class="btn btn-success btn-lg">New Note</a>
    </div>
</div>